@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}



.intro--message {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4em; /* Augmenter la taille du texte pour plus de visibilité */
  animation: 1s ease-out 0s 1 slideInFromLeft;
  background: linear-gradient(90deg, orange, lightblue); /* Utiliser les couleurs complémentaires */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  position: relative; /* Nécessaire pour le curseur clignotant */
}



.intro--panel {
  display: flex;
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}