footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    max-height: 4%;
    max-height: 300px; /* Assure que la hauteur ne dépasse pas 300px */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.gauche-footer, .droite-footer, .bas-footer {
    position: absolute;
    width: 50%; /* Divise l'espace en deux pour gauche et droite */
}

.gauche-footer {
    left: 0;
    bottom: 50px; /* Positionne à la moitié du footer vers le bas */
}
.gauche-footer p {
    margin: 0; /* Supprime la marge par défaut */
    color: #FFFFFF; /* Changez la couleur selon votre design */
    font-size: 1.2rem; /* Augmente la taille du texte */
    font-weight: bold; /* Met en gras le texte */
    text-align: center; /* Aligne le texte à droite */
}

.droite-footer {
    right: 0px;
    bottom: 50px; /* Positionne à la moitié du footer vers le bas */
}
.droite-footer p {
    margin: 0; /* Supprime la marge par défaut */
    color: #FFFFFF; /* Changez la couleur selon votre design */
    font-size: 1.2rem; /* Augmente la taille du texte */
    font-weight: bold; /* Met en gras le texte */
    text-align: center; /* Aligne le texte à droite */
}

.bas-footer {
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%; /* Prend toute la largeur disponible */
    text-align: center; /* Centre le texte dans la partie basse */
    color: #FFFFFF; /* Changez la couleur selon votre design */
    font-size: 1.2rem; /* Augmente la taille du texte */
    font-weight: bold; /* Met en gras le texte */
}

.svg-footer-social {
    display: flex; /* Correction : doit être 'flex' pour appliquer 'justify-content' */
    justify-content: space-around; /* Espacement entre les icônes */
    align-items: center; /* Centre les icônes verticalement */
    height: 100%; /* Assure que le conteneur prend toute la hauteur disponible */
    color: #FFFFFF; /* Changez la couleur selon votre design */
}

.svg-footer-social .fa-svg-icon {
    font-size: 2rem; /* Augmente la taille des icônes */
    padding: 0 10px; /* Ajoute un peu d'espace autour des icônes */
}